<!DOCTYPE html>
<html>
<head>

  <title>Atom Simulation</title>

  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
  <link rel="stylesheet" type="text/css" href="static/css/styles.min.css">
  <script type="text/javascript" src="static/js/libs.min.js"></script>
  <script type="text/javascript" src="static/js/pages/2d.min.js"></script>

  <style type="text/css"> 
    canvas {
/*background: #131c35 linear-gradient(#192853, #131c35);*/
      background: black;

      display:block;
        /*background: black;*/
      position:absolute;
      top:0;
      left:0;
      right:0;
      bottom:0;
    }
  </style>

</head>
<body>
  
  <canvas id="canvas" width="500" height="500"></canvas>

  <div id="ui">
    <div id="menu">
      <a href="/pages/atom.html">atom</a>
      <a href="/pages/gallery.html">gallery</a>
      <a href="/pages/images.html">images</a>
      <a href="/pages/data.html">db</a>
      <a href="/pages/3d.html">3d</a>
      <a href="/pages/elements.html">elements</a>
    </div>
    <div id="info"></div>
    <div id="toolbar"></div>
  </div>

  <script type="text/template" id="atom-tmpl">
    
    <h1><%= atom.symbol %></h1>
    <p><%= atom.name %></p>
    <!-- <%= atom %> -->
    <!--
        <% _.each( atom, function( val, prop ){ %>
          <strong><%= prop %></strong> : <span><%= val %></span><br>
        <% }) %>
    -->
  </script>

  <script type="text/javascript" src="static/js/main.min.js"></script>
  <script type="text/javascript">

    var atomTemplate = _.template( $( "#atom-tmpl" ).html() );
    
    // load data and start app.
    FABULA.loadPageData( 'static/data/atoms/*.json', render );
    var hasRun = false;
    function render()
    {  
      var a = window.location.hash.split('#')[1];
      if(a===undefined||a===''){
        a="hydrogen";
      }

      var atom_names = [];

      for( var i=0; i<FABULA.DATA.atoms.length; i++ ){
        if( a.toLowerCase() === FABULA.DATA.atoms[i].id.toLowerCase() ){
          atom = FABULA.DATA.atoms[i];
        }
        atom_names.push(FABULA.DATA.atoms[i]['name']);
      }

      // TODO - IF NOT EXISTS - erro
      // TODO - FIND ON OTHER FIELDS RATHER THAN JUST NAME
      $( "#info" ).empty();
      // $( "#info" ).html( atomTemplate( { 'atom':atom } ) );
      
      
      // console.log(atom_names);
      if(!hasRun){
        gui.add(opt, 'atom_select', atom_names ).onChange(function(newValue) {
          window.location.hash = newValue;
          // TODO-set options func
          opt.nucleus = atom['atomic-radius']/40;

          // opt.gravity_world = (atom['atomic-weight']/3)-10;

        });
      }


      init(); // restart

      hasRun = true;
    }
    window.onhashchange = render;


function boo(){ return (Math.round( Math.random()*1 ) == 1) }

    function randomise(){

      opt.repulsion_force = Math.random()*500;
      opt.repulsion_distance = Math.random()*50;
      opt.filter = boo();
      opt.repulision = boo();
      opt.attraction = Math.random()*1000;
      opt.invert = boo();
      opt.atom_select = "hydrogen";
      opt.framerate = Math.random()*80;
      opt.clearScreen = boo();
      opt.showcount = false;

      opt.ATOM_COUNT = Math.random()*200;

      // opt.wander = 0;
      // opt.gravity_world = 0;
      opt.maxSpeed = Math.random()*10;
      opt.damp = Math.random()*1;
      // opt.bounce = -1;

      opt.nucleus = Math.random()*100;//atom['atomic-radius']/160.5; // TODO - NOT GETTING SET. cos of atom setting
      opt.drawElectrons = boo();
      opt.electronSize = Math.random()*10;

      opt.mouseHide = false; // hides the cursor
      opt.mouseRepel = true;
      // opt.mouseGrav = false;
      opt.edges = "bounce";

      opt.color0 = random_rgba_array();//[ 0, 128, 255, 0.3 ];//random_rgba_array();//[ 0, 128, 255, 0.3 ]; // RGB with alpha
      opt.color1 = random_rgba_array();//[ 0, 128, 255, 0.3 ];//andom_rgba_array();//[ 0, 128, 255, 0.3 ]; // RGB with alpha

      updateOptions();
      init();

      // init();
      return opt;

    }


    // all the default settings
    var Options = function() {
      
      this.repulsion_force = 500;
      this.repulsion_distance = 50;
      this.filter = false;
      this.repulision = false;
      this.attraction = 1;
      this.invert = false;
      this.atom_select = "hydrogen";
      this.framerate = 80;
      this.clearScreen = true;
      this.showcount = false;

      this.ATOM_COUNT = 1;

      this.gravity_world = 0;
      this.maxSpeed = 4;
      // this.wander = 0;
      this.damp = 1;
      this.bounce = -1;

      this.nucleus = 1;//atom['atomic-radius']/160.5;
      this.drawElectrons = true;
      this.electronSize = 0.3;

      this.mouseHide = false; // hides the cursor
      this.mouseRepel = false;
      // this.mouseGrav = false;
      this.edges = "bounce";

      this.color0 = random_rgba_array();//[ 0, 128, 255, 0.3 ];//random_rgba_array();//[ 0, 128, 255, 0.3 ]; // RGB with alpha
      this.color1 = random_rgba_array();//[ 0, 128, 255, 0.3 ];//andom_rgba_array();//[ 0, 128, 255, 0.3 ]; // RGB with alpha
// random_rgb();

    };


    var opt = new Options();
    var gui = new dat.GUI();
    gui.add(opt, 'drawElectrons', true );
    gui.add(opt, 'electronSize', 0, 60 );
    gui.add(opt, 'nucleus', 0, 100 );
    gui.add(opt, 'clearScreen');
    gui.add(opt, 'filter', false );
    gui.add(opt, 'showcount');
    
    gui.add(opt, "framerate", 0, 100 ).onChange(function(newValue) {
      setFramerate(newValue);
    });

    gui.add(opt, 'gravity_world', -60, 60 ).onChange(function(newValue) {
      setAtomsProperty("grav",newValue);
    });
    
    gui.add(opt, "maxSpeed", 0, 60 ).onChange(function(newValue) {
      setAtomsProperty("maxSpeed",newValue);
    });

    gui.add(opt, "damp", 0, 1).onChange(function(newValue) {
      setAtomsProperty("damp",newValue);
    });

    gui.add(opt, "ATOM_COUNT", 0, 1000).onFinishChange(init);
    
    gui.add(opt, "bounce").onChange(function(newValue) {
      setAtomsProperty("bounce",newValue);
    });


    gui.add(opt, "mouseHide").onChange(function(newValue){
      if(newValue){
        $('canvas').css( 'cursor', 'none' );
      }else{
        $('canvas').css( 'cursor', 'default' );
      }
    });


    gui.add(opt, "mouseRepel").onChange(function(newValue){
      for(var i=0; i<atoms.length; i++) {
        var a = atoms[i];
        // a[prop] = v;
        if(newValue){
          a.setRepelMouse( canvas, true, 1000, 100 );
        }else{
          a.setRepelMouse( canvas, false );
        }
      }
    });

    gui.add(opt, 'edges', [ 'bounce', 'wrap'] ).onChange(function(newValue) { // TODO - 'remove' 
      setAtomsProperty("edges",newValue);
    });

    gui.add(opt, 'invert').onChange(function(newValue) {
      if(newValue){
        electron_color = 'black';
        $('canvas').css('background','white');
      }else{
        electron_color = 'white';
        $('canvas').css('background','black');
      }
    });

    gui.add(opt, 'attraction', 0, 1000).onFinishChange(function(newValue) {
      opt.attraction = newValue;
      createForces();
    });

    gui.add(opt, 'repulsion_force', 0, 1000).onFinishChange(function(newValue) {
      opt.repulsion_force = newValue;
      createForces();
    });

    gui.add(opt, 'repulsion_distance', 0, 500).onFinishChange(function(newValue) {
      opt.repulsion_distance = newValue;
      createForces();
    });

    gui.addColor(opt, 'color0');
    gui.addColor(opt, 'color1');



    // for loading and saving configs
    // gui.remember(opt);

    function updateOptions(){
      for (var i in gui.__controllers) {
        gui.__controllers[i].updateDisplay();
      }

        gui.remember(opt);
    }









    var atoms=[];
    var canvas = document.getElementById('canvas');
    var context = canvas.getContext('2d');

    var WIDTH=canvas.width;
    var HEIGHT=canvas.height;


    // var color = random_rgb();
    // var color2 = random_rgb();
    
    function init(){

      updateOptions();

      // opt.color = random_rgb();
      // opt.color2 = random_rgb();

      resizeCanvas();

      // make some atoms
      atoms=[];
      for(var i=0; i<opt.ATOM_COUNT; i++) {
        creatAtom();
      }

      createForces();
    }



    // TODO - instead create particle update functions to existing ?

    function createForces(){

      clearForces();

      // tell all the atoms about each other
      for(var i=0; i<atoms.length; i++) {
        let a = atoms[i];
        for(var k=0; k<atoms.length; k++) {
            let b = atoms[k];
            if(a!==b){
              // a.addRepelParticle(b, 500, 50);
              // a.addGravParticle(b, 10000, 1000);
              a.addRepelParticle( b, opt.repulsion_force, opt.repulsion_distance );
              a.addGravParticle( b, opt.attraction );
            }
        }
      }
    }

    function clearForces(){
      for(var i=0; i<atoms.length; i++) {
        atoms[i].clearRepelParticles();
        atoms[i].clearGravParticles();
      }
    }




    function creatAtom(){

        var p = new Particle();        
        p.bounce = opt.bounce;
        p.grav = opt.gravity_world;
        p.maxSpeed = opt.maxSpeed;
        p.damp = opt.damp;
        p.edges = opt.edges; // might put back to a func??

        // p.addRepelPoint( 300, 300, 900 );
        // p.wander = 1;
        // p.turnToPath( true );

        // p.setGravToMouse( canvas, true, 1000 );
        
        if(opt.mouseRepel){
          p.setRepelMouse( canvas, true, 1000, 100 );
        }

        p.x = Math.random()*WIDTH;
        p.y = Math.random()*HEIGHT;

        // p.vx = Math.random()*10000;
        // p.vy = Math.random()*10000;

        p.setBounds({xMin:0, yMin:0, xMax: WIDTH, yMax: HEIGHT});

        atoms.push( p );
    }

    // updates
    function setAtomsProperty(prop,v){
      for(var i=0; i<atoms.length; i++) {
        var a = atoms[i];
        a[prop] = v;
      }
    }


    function animate() {
        update();
        draw();
    }
    function update() {
        var i, point;
        for(i = 0; i < atoms.length; i++ ) {
            point = atoms[i];
            point.update();
        }
    }
    function draw() {

      if(opt.clearScreen){
        context.clearRect(0, 0, WIDTH, HEIGHT);
      }

      if(opt.filter){
        context.globalCompositeOperation = "source-over";
        context.fillStyle = "rgba(0, 0, 0, 0.3)";
        context.fillRect(0, 0, WIDTH, HEIGHT);
        context.globalCompositeOperation = "soft-light";
      }else{
        context.globalCompositeOperation = "source-over";
      }



      var i, point;
      for(i = 0; i < atoms.length; i++ ) {
          
        point = atoms[i];
        point.width = point.height = 8;// tell it size dims
        
        context.save();
        context.translate(point.x,point.y);
        context.rotate( point.rotation );
        context.restore();

        // window.console.log(point);

        drawAtom(point,i);
        
        if(opt.drawElectrons){
          drawElectrons(point);
        }

            
      }
      // context.globalAlpha = 0.1;
      // context.filter = 'blur(2px)';
        // window.requestAnimationFrame(animate);
    }


    function drawAtom(p,i){

      // var radius = atom['atomic-radius']/160.5;

      // window.console.log(atom['color']);
      // var color = atom['color'] || 'black';

      if(opt.showcount){
        context.font = "20px Arial";
        context.fillText(i,p.x+5,p.y-5);
      }


      context.beginPath();
      // context.strokeStyle = random_rgb();
      // context.fillStyle = random_rgb();//color;//0xffffff;//color;//green

      // context.arc(0, 0,2.7, 0, Math.PI*2, false); // draws an atom
      context.arc(p.x, p.y, opt.nucleus, 0, 2 * Math.PI, false);
      // window.console.log( 'r'+radius );

      // window.console.log(p);

      var gradient = context.createRadialGradient(p.x, p.y, opt.nucleus, p.x, p.y, 0);

// console.log(array_to_rgba(opt.color0));

      gradient.addColorStop( 0, array_to_rgba(opt.color0) );
      gradient.addColorStop( 1, array_to_rgba(opt.color1) );
      context.fillStyle = gradient;

      // context.stroke();
      context.fill();
      // context.lineWidth = 1;
      // context.strokeStyle = '#000';
      // context.stroke();

    }



    var rotation=0;
    var electron_color = 'white';////'black';//'blue';//random_rgb();//'green';

    function drawElectrons(p){

      var SPACING = 4;

      var electrons = atom['electrons'];
      for( var i=0; i<electrons.length; i++ ){

        var electronCount = electrons[i]; // 360 gives angles for each if we plotting equally
        
        var radius = (atom['atomic-radius']/10) + (SPACING*(i+1));

        // context.beginPath();
        // context.arc(p.x, p.y, radius, 0, 2 * Math.PI, false);
        // context.fillStyle = getRandomColor();//'green';
        // context.fill();
        // context.lineWidth = 1;
        // context.strokeStyle = '#00aaff';
        // context.stroke();

        // window.console.log( electronCount );

        context.save();
        for(var j=0; j<electronCount; j++) {

            context.translate(p.x, p.y);
            context.rotate(rotation);
            context.translate(-p.x, -p.y);
            
            // var electronSize = 0.5;//0.1*j;

            var x = radius * Math.cos(2 * Math.PI * j / electronCount);
            var y = radius * Math.sin(2 * Math.PI * j / electronCount);   

            context.beginPath();
            context.arc(p.x+x, p.y+y, opt.electronSize, 0, 2 * Math.PI, false);
            context.fillStyle = electron_color;//'white';////'black';//'blue';//random_rgb();//'green';
            context.fill();
            // context.lineWidth = 1;
            // context.strokeStyle = '#00aaff';
            // context.stroke();
            
            // update rotation value and request new frame
            rotation += 10;//j/100000;//0.00001;

        }
        context.restore();

      }


    }


// const randomNumber = (min, max) => Math.floor(Math.random() * (max - min + 1) + min);
// const randomByte = () => randomNumber(0, 255)
// const randomPercent = () => (randomNumber(50, 100) * 0.01).toFixed(2)
// const randomCssRgba = () => `rgba(${[randomByte(), randomByte(), randomByte(), randomPercent()].join(',')})`

    function random_rgb() {
        return '#' + ('00000' + (Math.random() * 16777216 << 0).toString(16)).substr(-6);
        return randomCssRgba();
    }
    function random_rgba() {
        var o = Math.round, r = Math.random, s = 255;
        return 'rgba(' + o(r()*s) + ',' + o(r()*s) + ',' + o(r()*s) + ',' + r().toFixed(1) + ')';
    }
    function random_rgba_array() {
        var o = Math.round, r = Math.random, s = 255;
        return [o(r()*s),o(r()*s),o(r()*s),r().toFixed(1)];
    }
    function array_to_rgba(arr) {
        return 'rgba(' + Math.round(arr[0]) + ',' + Math.round(arr[1]) + ',' + Math.round(arr[2]) + ',' + arr[3] + ')';
    }


    var intID;
    function setFramerate(val){
      clearInterval(this.intID)
      this.intID = setInterval( function(){ animate(); }, 1000/val );
      // window.requestAnimationFrame(animate);
    }
    setFramerate(opt.framerate);


    // full scale canvas
    function resizeCanvas(){
      canvas.width = window.innerWidth;
      canvas.height = window.innerHeight;
      // context.scale(canvas.width, canvas.height);
      
      WIDTH=canvas.width;
      HEIGHT=canvas.height;
    }


    function fullscreen(){
       var el = document.getElementById('canvas');

       if(el.webkitRequestFullScreen) {
           el.webkitRequestFullScreen();
       }
       else {
        el.mozRequestFullScreen();
      }            
    }
     
    canvas.addEventListener("click",randomise);
    randomise();


</script>

</body>
</html>