
@font-face {
  font-family: 'DroidSansMonoDotted';
  src: url('DroidSansMonoDotted.eot?#iefix') format('embedded-opentype'),  url('DroidSansMonoDotted.woff') format('woff'), url('DroidSansMonoDotted.ttf')  format('truetype'), url('DroidSansMonoDotted.svg#DroidSansMonoDotted') format('svg');
  font-weight: normal;
  font-style: normal;
}
